<!DOCTYPE html>
<html ng-app="mb">
  <head>
    <meta charset="utf-8">
    <title>Mortgage Bloc</title>
    <!-- <link href="node_modules/bulma/css/bulma.css" rel="stylesheet"/> -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="node_modules/font-awesome/css/font-awesome.css" rel="stylesheet"/> -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="ng-view"></div>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/home.js"></script>
    <script src="js/purchase.js"></script>
    <script src="js/work-item.js"></script>
    <script src="js/notification.js"></script>
    <script src="js/services/activity.js"></script>
  </body>
</html>
